<h1>Stand Up</h1>
	<p>Let the people know how you are feeeeeeling!</p>
	<%= link_to("New form", new_form_path) %>
<% for form in @forms %>
  <h2><%= form.date %></h2>
    <p><%= form.wins %></p>
    <p><%= form.repass %></p>
<% end %>