<h1 class='logo_welcome'>Stand Up</h1>
	
	<p class='line'>______________________________________________________________________</p>
<% for form in @forms %>
	<p class='name'><%= form.name %></p>
	<p class='subtitles'>Wins</p>
	<p><%= form.wins %></p>
	<p class='subtitles'>Repass</p>
	<p><%= form.repass %></p>
	<p class='line'>______________________________________________</p>
<% end %>