<%= link_to("Submit Your Feelings", new_form_path) %>
<% for form in @forms %>
  <h2 class= 'date'><%= link_to(form.date, form_path(form)) %></h2>
    <p><%= form.wins %></p>
    <p><%= form.repass %></p>
<% end %>