
<p><%= link_to("Back to all Stand Ups", forms_path) %></p>
<p> </p>
<p class='name'><%= @form.name %></p>
<p class='subtitles'>Wins</p>	
  <p><%= @form.wins %></p>
  <p class='subtitles'>Repass</p>
  <p><%= @form.repass %></p>
  
